*DS_Store
### IDEA project files
.idea/
*.iml
*.ipr
*.iws

### Gradle template
.gradle
build/
out/

# Ignore Gradle GUI configs
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

ServiceTreeInfo.txt

tool
classes/
test/
gradle
gradlew
gradlew.bat
sh.exe.stackdump